/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-image: url(/assets/img/sfondo.png);
    /* background-size: cover; */
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header{
    width: 500px;
    margin-inline: auto;
    background-image: linear-gradient(180deg, rgba(0,153,187,1) 35%, rgba(0,82,98,1) 100%);
    font-weight: bold;
    box-shadow: 0 4px 10px black;
}

header div{
    margin: 20px;
    text-align: center;
    color: white;
    
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

header > div > a:nth-last-child(1){
    margin-bottom: 30px;
}

#epicode{
    width: 70%;
    padding: 30px;
}

/* MAIN */
main {
    width: 500px;
    margin-inline: auto;
    background-color: white;
    box-shadow: 0 4px 10px black;
    
}

main h2{
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: bold;
}

main h3{
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: bold;
}

main p{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    word-spacing: 1px;
    line-height: 30px;
}

main li{
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
}

.info{
    color: #c2c7c3;
}


/* ELEMENTI NEL MAIN - ARTICLE */

span{
    color: #AA2072;
    font-weight: bold;
}

button{
    border: 2px solid #c2c7c3;
    border-radius: 5px;
}

ul{
    list-style-type: disc;
    font-size: 15px;
    padding-left: 60px;
    padding-top: 20px;
}


ol{
    list-style-type:decimal;
    font-size: 15px;
    padding-left: 60px;
    padding-top: 20px;
}
/* TABELLE */



table caption{
    font-weight: bold;
    color: black;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
}






table,
th,
td {
  border: 1px solid black;
}

table {
  width: 400px;
  margin: 0 auto;
  display: table;
  border-spacing: 0;
}


th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
